<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form"">
            <div class="card-header">
                <h4>Perguntas</h4>
            </div>
            <div class="card-body">
                <% perguntas.forEach(pergunta => { %>
                <div class="card">
                    <div class="card-header">
                        <p><%= pergunta.titulo %></p>
                    </div>
                    <div class="card-body">
                    <a href="/pergunta/<%= pergunta.id %>">
                        <button class="btn btn-primary">Responder</button> 
                        </a>
                    </div>
                </div>
                <br>
                <% }) %>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>